mercury/src/test/resources/xml/unit-test-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema  targetNamespace="http://www.suggs.org.uk/UnitTestSchema" 
    elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://www.example.org/unitTestSchema" xmlns:Q1="http://www.suggs.org.uk/UnitTestSchema">

    <element name="xmlroot" type="Q1:XmlRootType"></element>

    <complexType name="XmlRootType">
    	<sequence>
    		<element name="testlayer1" type="string" minOccurs="1" maxOccurs="1"></element>
    		<element name="testlayer2" type="string" minOccurs="1" maxOccurs="1"></element>
    		<element name="testlayer3" type="string"></element>
    	</sequence>
    </complexType>
</schema>